/* service  */
.icon{
    padding: 10px;
    border: 5px solid whitesmoke;
    border-radius: 60%;
    background-color: blue;
    
}

/* card hover */
.a1:hover{
  background-color: rgb(75, 136, 226);
  
}
/* team */
  .hov-eff{
    display: none;
  }
  .on-hover:hover .hov-eff{
    display: inline;
  }
  .social:hover{
        color:blue;
  }
  .port{
    background-position: center center;
    background-size: cover;
  }
  /* portfolio */
.anime:hover .imagehover1{
  display: inline;
}
/* portfolio */
  .imagehover1{
    display: none;
  }
  .Up{
    display: flex;
    justify-content: end;
  }
  .map{
    overflow-x: hidden;
    overflow-y: hidden;
  }
    .c1-home:hover{
        background-color:grey;
       
    }
    .c1-home:hover{
        color:white;
        /* background-color: blue; */
    }
    /* nav bar hover line */
    .c2-home:hover{
        background-color: blue;
    }
     
      .navbar-nav .nav-item:hover .nav-link {
       color: blue;
         }
    .h:hover::after{
      transform: scaleX(1);
      transform-origin: bottom;
      background-color: blue;
    }
    .h::after{
      content:" ";
      position: absolute;
      width:100%;
      transform:scaleX(0);
      height:3px;
      bottom:0;
      left:0;
      background-color: skyblue;
      transform-origin: bottom;
      transition: transform 0.35s ease-out;

    }
    .video-h:hover{
      color:blue;
      
    }
    /* after home page card */
    .box-shadow1:hover{
      /* border-style: solid; */
      /* border-color:grey; */
      /* box-shadow: 10px 10px 5px grey; */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      transform: translateY(10px);
      transition: transform 0.65s ease-out;
    }

    .box-shadow2:hover{
      /* border-style: solid; */
      /* border-color:grey; */
      /* box-shadow: 10px 10px 5px grey; */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      transform: translateX(15px);
      transition: transform 0.65s ease-out;
    }
    .call-sec{
      background-color:#F2F1EB;
    }
    .videoplaying-sec{
      background-color: grey;
    }
    .coursel{
      filter: brightness(50%);
    }

    /* moving imgae up and down */

    .cover {
       animation:myanim 5s;
       animation-iteration-count: infinite;
       animation-timing-function: ease-in-out;
       border: solid 2px white;
       background-image:URL("./images/hero-carousel-3.svg");
       background-size: 100% 65vh;
       background-repeat: no-repeat;
       
         
     }
     
     @keyframes myanim {
         0% {
             background-position:0 0;
         }
         50% {
             background-position:0 100%;
         }
         100% {
             background-position:0 0;
         }
     }
     
     @-webkit-keyframes myanim
     /* Safari and Chrome */
      {
         0% {
             background-position:0 0;
         }
         50% {
             background-position:20px 0;
         }
         100% {
             background-position:0 0;
         }
     }
     /* social media */
     ul.menu{
      position:fixed;
      top: 50%;
      left:50%;
      transform:translate(-50%,-50%);
      list-style-type:none;
      padding:0;
      li{
        display:inline-block;
        margin:10px;
        a{
          i.fa{
            display:inline-block;
            height:30px;
            width:30px;
            text-align:center;
            line-height:30px;
            padding:10px;
            border-radius:40px;
            color:#424242;
            position:relative;
            transition:all ease 0.2s;
            &::after{
              content:"";
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin:auto;
              height:100%;
              width:100%;
              z-index:-1;
              border-radius:40px;
              background-color: #9E9E9E;
            }
            &:hover{
              color:#fff;
              font-size:18px;
              &::after{
                animation:animate ease 0.6s forwards;
              }
            }
          }
          i.fa-facebook:hover{
            &::after{
              background-color: #3b5998; 
            }
           }
          i.fa-twitter:hover{
            &::after{
              background-color: #00aced;
            }
          }
          i.fa-instagram:hover{
            &::after{
              background-color: #8a3ab9;
            }
          }
          i.fa-youtube-play:hover{
            &::after{
              background-color: #ff0000;
            }
          }
        }
      }
    }
    
    @keyframes animate{
      0%,20%{
        transform:scale(1);
        border-radius:40px;
        background-color: #9E9E9E;
      }
      30%{
        transform:scale(1.2);
      }
      40%{
         transform:scale(1.1);
      }
      50%{
        transform:scale(1);
        border-radius:10px;
      }
      60%,100%{
        transform:scale(1);
        border-radius:5px;
      }
    }
    
    /*  blog animation */
    /* Zoom In #1 */
.hover10 figure img {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover10 figure:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}


/* portfolio blur */

.hover08 figure img {
  -webkit-filter: grayscale(0);
	filter: grayscale(0);

	
}
.hover08 figure:hover img {

  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	
}
 
/* accordion image */
.hover07 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	
}
.hover07 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}


/* button hover --get started in nav bar button */

.button-1 {
  background-color: transparent;
  border: 3px solid #0e67db;
  border-radius: 50px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #0e67db;
}
.button-1:hover {
  box-shadow: 0 0 10px 0 #0e67db inset, 0 0 20px 2px #0e67db;
  border: 3px solid #0e67db;
}

/*  get stareted button */

.button-4 {
  background-color: transparent;
  border: 3px solid #2569ce;
  color: #2569ce;
  transition: .3s;
}
.button-4:hover {
  animation: pulse 1s infinite;
  transition: .3s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}

/*  call to action */

.button-3 {
  border: 2px solid #3c73ff;
  background-color: #3c73ff;
  border-radius: 20px;
  color: #fff;
  transition: .3s;
}
.button-3:hover {
  box-shadow: 8px 8px #99bdff;
  transition: .3s;
}

/* card button */

.button-2 {
  color: #fff;
  border: 3px solid #0c42cc;
  background-image: -webkit-linear-gradient(30deg, #0c42cc 50%, transparent 50%);
  background-image: linear-gradient(30deg, #0c42cc 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-2:hover {
  background-position: 100%;
  color:whitesmoke;
}


/*  */


.button-5 {
  width: 200px;
  border-radius: 5px;
  background-color: #F4F200;
  background-image: #F4F200;
  background-image: -moz-linear-gradient(top, #fff 0%, #F4F200 100%); 
  background-image: -webkit-linear-gradient(top, #fff 0%,#F4F200 100%); 
  background-image: linear-gradient(to bottom, #fff 0%,#F4F200 100%); 
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-5:hover {
  background-position: -200%;
  transition: background 300ms ease-in-out;
}


/* zoom in image hover in call to action */

.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

#myBtn{
  display: none;
}
    
/* logo (icons ) animation */

